.texto4 {
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.fourth-input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 185px;
    border: none;
    border-bottom: 1px solid #6c6c6c;
    background: transparent;
    color: #ffffff;
}

.fourth-input:focus {
    outline: none;
    border-bottom-color: #C22129;
}

.fourth-input:focus ~ .lebal-email4,
.fourth-input:valid ~ .lebal-email4 {
    top: -20px;
    font-size: 14px;
    color: #C22129;
}

.fourth-input:focus ~ .highlight-span {
    -webkit-animation: input-focus 0.3s ease;
    animation: input-focus 0.3s ease;
}

.lebal-email4 {
    color: #999999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.highlight-span {
    position: absolute;
    height: 60%;
    width: 0px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

@keyframes input-focus {
    from {
    background: #C22129;
    }

    to {
    width: 185px;
    }
}