.home-container{
    height: 100vh;    
}

.home-container .saludo h2{
    display: flex;
    justify-content: center;
    font-family:'../fonts/arfont.ttf';
    font-size: 40px;
    font-weight: 900;
    padding-top: 0px;
}

.cand-dash-container{
    display: flex;
    justify-content: center;
}

.registro-entrevistas{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 800px;
    line-height: 28px;
    margin: 0 auto;
}

.registro-entrevistas input{
    font-family: '../fonts/arfont.ttf';
    width: 70%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

input::placeholder {
    color: #9e9ea7;
}

.registro-entrevistas input:focus, .registro-entrevistas input:hover {
    outline: none;
    border-color: #C22129;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.iconhome {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}


.div-flex-container{
    margin-top: 40px;
}

.div-flex{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    height: auto;
}