.home-container .saludo h2{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 900;
    padding-top: 0px;
}

.cand-dash-container{
    display: flex;
    justify-content: center;
}

.registro-entrevistas{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.registro-entrevistas button{
    margin: 0px 20px 0px 0px;
    padding: 0;
    width: 50px;
    height: 41px;
    position: absolute;
    bottom: 0;
    margin-left: 520px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s ease all;
}

.registro-entrevistas button:hover{
    color: red;
    font-size: 15px;
}

.registro-entrevistas input{
    padding-left: 15px;
    padding-right: 70px;
    border-radius: 5px;
    height: 35px;
    width: 485px;
    /*valores del input*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 500;

}