html, body {
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: '../fonts/arfont.ttf';
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

  /* Estilo para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Color del pulgar (gris claro) */
    border: 1px solid #ccc; /* Borde del pulgar */
}


.container-inicio {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: '../fonts/arfont.ttf';
    overflow: scroll;
}

.img-ar{
    margin-bottom: 30px;
    margin-top: 40px;
    height: 300px;
    width: 400px;
}

.btn-container {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    color: whitesmoke;
    background-color: #676765;
    cursor: pointer;
    width: 300px;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    margin: 8px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-family: '../fonts/arfont.ttf';
}

.link-btn{
    text-decoration: none;
    color: black;
}

.link-btn2{
    text-decoration: none;
    color: white;
}

.btn-registrarse{
    width: 18em;
    height: 3em;
    font-size: 18px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-registrarse::before {
    content: '';
    width: 0;
    height: 3em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #CE5151 0%, #C22129 100%);
    transition: .8s ease;
    display: block;
    z-index: -1;
}

.btn-registrarse:hover::before {
    width: 18em;
}

.btn-ingresar {
    width: 18em;
    height: 3em;
    font-size: 18px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-ingresar::before {
    content: '';
    width: 0;
    height: 3em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #CE5151 0%, #C22129 100%);
    transition: .8s ease;
    display: block;
    z-index: -1;
}

.btn-ingresar:hover::before {
    width: 18em;
}

.texto-id{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    min-height: 48px;

}

.texto-id p{
    font-weight: bold;
    line-height: 0.5;
}