body {
    overflow-y: hidden;
}

.container-login{
    position: relative;
    background-color: black;
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: '../fonts/arfont.ttf';
}

.texto2 {
    margin-top: -15px;
    margin-bottom: 20px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

.group2 {
    position: relative;
    margin-top: 25px;
}


.second-input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 185px;
    border: none;
    border-bottom: 1px solid #6c6c6c;
    background: transparent;
    color: #ffffff;
}

.second-input:focus {
    outline: none;
    border-bottom-color: #C22129;
}


.lebal-email2 {
    color: #999999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.second-input:focus ~ .lebal-email2,
.second-input:valid ~ .lebal-email2 {
    top: -20px;
    font-size: 14px;
    color: #C22129;
}

.highlight-span {
    position: absolute;
    height: 60%;
    width: 0px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.second-input:focus ~ .highlight-span {
    -webkit-animation: input-focus 0.3s ease;
    animation: input-focus 0.3s ease;
}


@keyframes input-focus {
    from {
    background: #C22129;
    }

    to {
    width: 185px;
    }
}

.lebal-email3 {
    color: #999999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 115px;
    top: 150px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}



button{
    color: whitesmoke;
    background-color: #676765;
    width: 300px;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    margin: 8px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-btn {
    margin-top: 40px;
    color: whitesmoke;
    background-color: #676765;
    width: 18em;
    height: 3em;
    font-size: 18px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.login-btn::before {
    content: '';
    width: 0;
    height: 3em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #CE5151 0%, #C22129 100%);
    transition: .8s ease;
    display: block;
    z-index: -1;
}

.login-btn:hover::before {
    width: 18em;
}


.forgetpsw-btn{
    color: whitesmoke;
    background-color: #676765;
    cursor: pointer;
    width: 18em;
    height: 3em;
    font-size: 18px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.forgetpsw-btn::before {
    content: '';
    width: 0;
    height: 3em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #CE5151 0%, #C22129 100%);
    transition: .8s ease;
    display: block;
    z-index: -1;
}

.forgetpsw-btn:hover::before {
    width: 18em;
}

.load-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.overlay-loader{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.imglogin{
    margin-bottom: 30px;
    margin-top: 20px;
    height: 250px;
    width: 350px;
}