.navbar-container{
    background-color: black;
    color: whitesmoke;
    width: 100vw;
    height: 63px;
    display: flex;
    align-items: center;
}

.titulo-container{
    margin-left: 10px;
    display: flex;
}

.titulo-container .img-navbar{
    width: 90px;
    height: 67px;
}


.sections-container{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: '../fonts/arfont.ttf';
    margin-left: 20px;
}

.link{
    margin-left: 40px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.1s ease all;
}

.activelink{
    margin-left: 40px;
    text-decoration: none;
    font-weight: 700;
    transition: 0.1s ease all;
    color: #c22129;
}


.link:hover{
    color: #c22129;
}

.circulo-container{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;   
}

.circulo-container p {
    margin-right: 25px;
    color: #c22129;
    font-weight: 500;
}

.circulo-perfil {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}