@font-face {
    font-family: '../fonts/arfont.ttf';
    src: url('../fonts/AnyConv.com__arfont.woff2') format('woff2'),
        url('../fonts/arfont.woff') format('woff');
}
    
    body { 
        background-color: black;
        font-family: '../fonts/arfont.ttf';
    }
    
    .container-register{
        position: relative;
        background-color: black;
        height: 140vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: '../fonts/arfont.ttf';
    }
    .texto1 {
        color: white;
        font-size: 25px;
        font-weight: bolder;
    }

    .imgregister{
        margin-bottom: 30px;
        margin-top: 20px;
        height: 200px;
        width: 300px;
    }

    .register { 
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        padding: 0.6em 2em;
        border: 3px solid #676765;
        border-radius: 2px;
        position: relative;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
        color: #C22129;
        text-decoration: none;
        transition: 0.3s ease all;
        z-index: 1;
    }

    .register:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: #C22129;
        z-index: -1;
    }

    .register:hover, .register:focus {
        color: white;
    }

    .register:hover:before, .register:focus:before {
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
    }

    .register:active {
        transform: scale(0.9);
    }

    .group {
        position: relative;
    }

    .form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 120px 40px;
        padding-top: 20px;
        padding-bottom: 90px;
        padding-right: 40px;
        padding-left: 40px;
        background-color: black;
        border-radius: 20px;
        position: relative;
    }

    .form p {
        margin-top: -15px;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: .5px;
        color: white;
    }

    .container-1 {
        padding-top: 25px;
    }

    .container-2 {
        padding-top: 25px;
    }

    .main-input {
        font-size: 16px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 185px;
        border: none;
        border-bottom: 1px solid #6c6c6c;
        background: transparent;
        color: #ffffff;
    }

    .main-input:focus {
        outline: none;
        border-bottom-color: #C22129;
    }

    .lebal-email {
        color: #999999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .main-input:focus ~ .lebal-email,
    .main-input:valid ~ .lebal-email {
        top: -20px;
        font-size: 14px;
        color: #C22129;
    }

    .highlight-span {
        position: absolute;
        height: 60%;
        width: 0px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    .main-input:focus ~ .highlight-span {
        -webkit-animation: input-focus 0.3s ease;
        animation: input-focus 0.3s ease;
    }

    @keyframes input-focus {
        from {
        background: #C22129;
        }

        to {
        width: 185px;
        }
    }

    button{
        color: whitesmoke;
        background-color: #676765;
        width: 300px;
        height: 35px;
        font-size: 14px;
        font-weight: 500;
        margin: 8px;
        border: none;
        text-decoration: none;
        border-radius: 2px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .register-btn {
        margin-top: 40px;
        color: whitesmoke;
        background-color: #676765;
        width: 18em;
        height: 3em;
        font-size: 18px;
        font-family: inherit;
        border: none;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    
    .register-btn::before {
        content: '';
        width: 0;
        height: 3em;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, #CE5151 0%, #C22129 100%);
        transition: .8s ease;
        display: block;
        z-index: -1;
    }
    
    .register-btn:hover::before {
        width: 18em;
    }
    
    
    .red-login-btn{
        color: whitesmoke;
        background-color: #676765;
        cursor: pointer;
        width: 18em;
        height: 3em;
        font-size: 18px;
        font-family: inherit;
        border: none;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    
    .red-login-btn::before {
        content: '';
        width: 0;
        height: 3em;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, #CE5151 0%, #C22129 100%);
        transition: .8s ease;
        display: block;
        z-index: -1;
    }
    
    .red-login-btn:hover::before {
        width: 18em;
    }
    
    .load-container{
        display: flex;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }

